<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <form action="./users/login" method="get">

        <label for="">
            用户名：<input type="text" name="username" />
        </label>
        <label for="">
            密码：<input type="password" name="password" />
        </label>
        <label for="">
            <input type="submit" name="submit" value="确定" />
        </label>
    </form>
</body>

</html>